/*Default CSS Rules*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Default CSS Custom Variables*/
:root {
    --default-overflow-wrap: break-word;
    --default-font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-weight: normal;
}


/*Webpage Specific Rules*/
main {
    display: flex;
    height: 100svh;
    width: 100svw;
    background-color: #010513;
}

.side-graphic {
    position: relative;
    display: flex;
    width: 40%;
    border-color: #010513;
    border-style: solid;
}

.image-container {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: #010513;
}

.graphic {
    height: 100%;
    width: 100%;
}

.logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 90px;
    width: 100%;
    left: 0%;
    top: 3%;
    border-radius: 50%;
    background-color: rgba(0, 7, 22, 0.35);
}

.logo {
    height: calc(var(--default-font-size)*2.5);
    width: auto;
    opacity: 100%;
}


.logo-text {
    color: white;
    font-size: calc(var(--default-font-size)*1.25);
    font-weight: 750;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.image-attribution {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    font-size: calc(var(--default-font-size)*.4);
    color: rgba(127, 148, 119, 0.25);
    text-align: center;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.image-attribution a {
    font-size: calc(var(--default-font-size)*.4);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 12% 6%;
    width: 60%;
    font-size: calc(var(--default-font-size)*.75);
    text-transform: capitalize;
}

.main-header {
    font-size: calc(var(--default-font-size)*1.25);
    letter-spacing: .25rem;
    color: whitesmoke;
    font-weight: 500;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.container {
    width: 100%;
    text-transform: uppercase;
}

fieldset {
    display: flex;
    justify-content: space-between;
}

.entryarea{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 45%;
    height: calc(var(--default-font-size)*3.5);
    white-space: nowrap;
    overflow: hidden;
}

input {
    position: absolute;
    color: transparent;
    width: 100%;
    height: calc(var(--default-font-size)*2);
    outline: none;
    font-size: calc(var(--default-font-size)*0.75);
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    z-index: 1111;
}

.labelline {
    position: absolute;
    width: auto;
    font-size: calc(var(--default-font-size)*.6);
    font-weight: 100;
    color: darkgrey;
    padding: 0 15px;
    transition: 0.5s ease;
;}

input:focus {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 20px;
}

input:focus + .labelline {
    color: whitesmoke;
    background-color: #010513;
    width: auto;
    height: auto;
    font-size: calc(var(--default-font-size)*.55);
    transform: translate(5%, -150%);
    z-index: 1111;
}
input:valid {
    color: green;
    border: 1px solid green;
    padding: 20px;
    transition-duration: 1000ms;
}

input:valid + .labelline {
    color: whitesmoke;
    background-color: green;
    border-radius: 10px;
    width: auto;
    height: auto;
    font-size: calc(var(--default-font-size)*.55);
    transform: translate(5%, -150%);
    z-index: 1111;
}
input:user-invalid {
    color: red;
    border: 2px solid red;
    padding: 20px;
}

input:user-invalid + .labelline {
    color: red;
    background-color: #010513;
    width: auto;
    height: auto;
    font-size: calc(var(--default-font-size)*.55);
    transform: translate(5%, -150%);
    z-index: 1111;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f47f51;
    color: whitesmoke;
    width: calc(var(--default-font-size)*7.5);
    height: calc(var(--default-font-size)*1.5);
    border-radius: 10px;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    text-transform: capitalize;
    font-size: calc(var(--default-font-size)*.75);
}

.log-in-container {
    display: flex;
    align-items: baseline;
    margin: 15px 0px 0px 0px;
    gap: 10px;
}

.account-subtext {
    font-size: calc(var(--default-font-size)*.45);
    color: #535684;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.log-in-container a {
    font-size: calc(var(--default-font-size)*.4);
    text-transform: uppercase;
    color: #f5ab8d;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}