/*Default CSS Rules*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
    
}
/*Default CSS Custom Variables*/
:root {
    --default-overflow-wrap: break-word;
    --default-font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-weight: normal;
}


/*Webpage Specific Rules*/
main {
    display: flex;
    height: 100svh;
    width: 100svw;
}

.side-graphic {
    position: relative;
    display: flex;
    width: 40%;
    border-color: #0c1122;
    border-style: solid;
}

.image-container {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: #0c1122;
}

.graphic {
    height: 100%;
    width: 100%;
}

.logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 90px;
    width: 100%;
    left: 0%;
    top: 3%;
    border-radius: 50%;
    background-color: rgba(0, 7, 22, 0.35);
}

.logo {
    height: calc(var(--default-font-size)*2.5);
    width: auto;
    opacity: 100%;
}


.logo-text {
    color: white;
    font-size: var(--default-font-size);
}

.image-attribution {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    font-size: calc(var(--default-font-size)/2);
    color: rgba(127, 148, 119, 0.25);
    text-align: center;
}


.form-container {
    width: 60%;
    border-color: red;
    border-style: solid;
}